/*1vh = 1% of the viewport's height*/
/*1vw = 1% of the viewport's width*/
/*Tænker at de 2 ovenstående length units er bedst generelt, da den tager efter størrelsen på skærmen
   OBS jeg kan tage fejl xD måske EM eller REM er bedst??? */
body {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
    background-color: lightgoldenrodyellow;
}
.nav {
    display: flex;
    flex-direction: row;
}

.nav ul {
    margin-left: auto;
}
.nav li {
    display: inline-block;
    margin-right: 0.5vw;
}
.nav li a {
    text-decoration: none;
    color: black;

}

#about-me {
    background-color: lightgray;
}

.about-me-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
}

.about-me-text-container {
    margin-right: 5vw;
    width: 50%;
    margin: 3vh 3vw 3vh 3vw;
}

.profilephoto {
    margin: 3vh 3vw 3vh 3vw;
}

.in-common-container {
    display: flex;
    flex-direction: row;
    background-color: lightblue;
}
.project-container {
    width: 50%;
    background-color: orange;
    margin: 3vh 3vw 3vh 3vw;
}
.skills-container {
    margin: 3vh 3vw 3vh 3vw;
    height: auto;
    width: 50%;
    background-color: peru;
}

/*OBS hvordan for jeg nedenstående loggo til at blive mindre???*/

li.img_html::marker {
    content: url(./resources/HTML5_logo_and_wordmark.svg.png);
    font-size: 10px;

}

footer p {
    text-align: center;
}


@media only screen and (max-width: 500px) {
    .nav  {
        flex-direction: column;
    }
    .nav h1 {
        text-align: center;
    }
    .nav ul {
        margin: 0 0 6px 0;
        padding: 0;
        text-align: center;
    }
    .about-me-container {
        display: inline-block;
        text-align: center;
    }
    .about-me-text-container {
        display: inline-block;
        text-align: center;
        width: fit-content;
    }
    .about-me-text-container p {
        width: 300px;;
    }
    .profilephoto {
        width: 300px;
    }
    .in-common-container {
        flex-direction: column;
        align-items: center;
    }
    .project-container, .skills-container {
        width: fit-content;
    }
}