/*1vh = 1% of the viewport's height*/
/*1vw = 1% of the viewport's width*/
/*Tænker at de 2 ovenstående length units er bedst generelt, da den tager efter størrelsen på skærmen
   OBS jeg kan tage fejl xD måske EM eller REM er bedst??? */
   img,
   picture,
   video {
     max-width: 100%;
   }

   body {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
    background-color: var(--rootBlack, lightgoldenrodyellow);
}


/*Navigation section*/
.nav {
    display: flex;
    flex-direction: row;
}

.nav ul {
    margin-left: auto;
}
.nav li {
    display: inline-block;
    margin-right: 0.5vw;
}
.nav li a {
    text-decoration: none;
    color: black;

}
/*button dark mode section*/
/*Det er muligt at bruge CSS custom properties (variables)
https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
https://www.color-meanings.com/dark-colors/
ved fx at have følgende som standard:*/
:root {
    --lightgoldenrodyellow: lightgoldenrodyellow;
    --rootBlack: black;
    --lightgray: lightgray;
    --orange: orange;
    --peru: peru;
}
.dark-mode {
    --darkblack: #000000;
    --charcoal: #36454F;
    --gray: #808080;
    --russet: #80461B;
    --Tyrian Purple: #66023C;
    --Navy Blue: #000080;
    --Burgundy: #800020;
    --Hunter Green: #355E3B;
}
/*
OBS :root er for de farver der bruges nu. og .dark-mode er de farver 
der skal bruge ved dark-mode
Ovenstående kan muligvis bruges på nedenstående måde:
background-color: var(--black, --lightgoldenrodyellow);
ovenstående betyder at background-color skal være variablen black, hvis den 
er undefined skal den bruge lightgoldenyellow i stedet.
Dette kunne være en god måde at ændre farven på de forskellige når 
.dark-mode er slået til - lige nu står der active i JS men der skal så istedet
stå dark-mode for at dette virker. så vil dark-mode variablen kun være defined
når man får klikket på knappen.
*/
/*About me section*/
#about-me {
    background-color: lightgray;
}

.about-me-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
}

.about-me-text-container {
    margin-right: 5vw;
    width: 50%;
    margin: 3vh 3vw 3vh 3vw;
}

.profilephoto {
    margin: 3vh 3vw 3vh 3vw;
}
/*project and skills section*/
.in-common-container {
    display: flex;
    flex-direction: row;
    background-color: lightblue;
}
/*project section*/
.project-container {
    width: 50%;
    background-color: orange;
    margin: 3vh 3vw 3vh 3vw;
}

.element_details_projects {
    cursor: pointer;
    margin-left: 20px;
}

/*Nedenstående list-style property removes the disclosure triangle - 
måske den skal laves til et symbol herfra https://coolsymbol.com/*/
.element_details_projects summary{
    list-style: none;
}
/*skills section*/
.skills-container {
    margin: 3vh 3vw 3vh 3vw;
    height: auto;
    width: 50%;
    background-color: peru;
}

/*OBS hvordan for jeg nedenstående loggo til at blive mindre???*/
/*Det gjorde jeg ved at rediger selve billedet*/

.ul-skills li {
    margin-bottom: 5px;
    padding-left: 5px;
}

li.img_html::marker {
    content: url(./resources/17pxHTML5_logo_and_wordmark.svg.png);

}

li.img_css::marker {
    content: url(./resources/15px-CSS3_logo_and_wordmark.svg.png);   
}

li.img_cloud::marker {
    content: url(./resources/15px\ Microsoft_Office_OneDrive_\(2019–present\).svg.png);   
}

li.img_js::marker {
    content: url(./resources/15px\ Unofficial_JavaScript_logo_2.svg.png);
}

li.img_git::marker {
    content: url(./resources/15\ pxGit-Icon-1788C.png);
}

li.img_github::marker {
    content: url(./resources/Github\ logo\ 15px.png);
}

/*footer section*/
footer p {
    text-align: center;
}

/*Responsive*/
@media only screen and (max-width: 500px) {
    .nav  {
        flex-direction: column;
    }
    .nav h1 {
        text-align: center;
    }
    .nav ul {
        margin: 0 0 6px 0;
        padding: 0;
        text-align: center;
    }
    .about-me-container {
        display: inline-block;
        text-align: center;
    }
    .about-me-text-container {
        display: inline-block;
        text-align: center;
        width: fit-content;
    }
    .about-me-text-container p {
        width: 300px;;
    }
    .profilephoto {
        width: 300px;
    }
    .in-common-container {
        flex-direction: column;
        align-items: center;
    }
    .project-container, .skills-container {
        width: fit-content;
    }
}